/* options.css */
:root {
  --bg-color1: #2968a6;
  --bg-color2: #ccc;  
  --bg-color3: #ffffff;    
  --main-txt-color: #000000; 
  --main-heading-color: #2968a6;  
  --main-padding: 15px;
  --main-txt-font-family: "Open Sans", sans-serif, Arial;
  --main-heading-font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", FuturaExtended, CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Oswald, sans-serif; 
}
.opt_multible {
  display: block;
  margin-bottom: 2px;
}

.opt_multible_minus, .opt_multible_plus, .opt_button {
  display: inline-block;
  padding: 0 1em;
  background: var(--bg-color3);
  border: 1px solid var(--bg-color1);
  color: var(--bg-color1);
  border-radius: 3px;
  text-decoration: none;
  margin-bottom: 15px;
}

.opt_multible_minus:hover, .opt_multible_minus:active , .opt_multible_plus:hover, .opt_multible_plus:active, .opt_button:hover, .opt_button:active {
  background: var(--bg-color1);
  border-color: var(--bg-color1);
  color: var(--bg-color3);
  cursor: pointer;
}